<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Add Courier</title>
</head>
<body>
    <h1>Add Courier</h1>
    <form action="/add_courier" method="post">
        Name: <input type="text" name="name"><br>
        <input type="submit" value="Add Courier">
    </form>
</body>
</html>
