<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <nav>
        <ul>
            <li><a href="/add_dish">Add Dish</a></li>
            <li><a href="/add_category">Add Category</a></li>
            <li><a href="/add_sub_category">Add Sub Category</a></li>
            <li><a href="/add_courier">Add Courier</a></li>
            <li><a href="/couriers">View Couriers</a></li>
            <li><a href="/orders">View Orders</a></li>
            <li><a href="/add_branch">Add Branch</a></li>
            <li><a href="/add_promocode">Add Promocode</a></li>
            <li><a href="/menu">Menu</a></li>
       </ul>
    </nav>
</body>
</html>
