<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Edit Category</title>
</head>
<body>
    <h1>Edit Category</h1>
    <form action="/edit_category/{{ category_id }}" method="post">
        Name: <input type="text" name="name" value="{{ category.name }}"><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>