<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>Edit Branch</title>
</head>
<body>
    <h1>Edit Branch</h1>
    <form action="/edit_branch/{{ branch_id }}" method="post">
        Branch Name: <input type="text" name="branch_name" value="{{ branch[0] }}"><br>
        Address: <input type="text" name="address" value="{{ branch[1] }}"><br>
        Phone: <input type="text" name="phone" value="{{ branch[2] }}"><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
